body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 0px 0px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 500px;
}

.header-links {
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 10px 0px 0px;
    width: 500px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px 150px 0px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px;
}

.intro-right {
    background-color: lightgray;
    font-size: 18px;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.intro-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    border: 0px;
    width: 140px;
    padding: 8px 30px;
    margin-top: 10px;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.square {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 5px;
}

.card {
    height: 300px;
    width: 170px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.info-subtext {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.info {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px ;
}

.container-of-cards {
    display: flex;
    justify-content: center;
}

.quote-section {
    background-color:#E5E7EB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 830px;
    max-height: 200px;
    padding: 125px 125px 0px 125px;
}

.signature {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-left: 500px;
    padding-bottom: 100px;
}

.signup {
    display: flex;
    justify-content: center;
}

.signup-box {
    background-color: #3882f6;
    width: 850px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 100px;
    color:#F9FAF8;
    border-radius: 7px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 7px;
    border-color: #F9FAF8;
    border-style: solid;
    width: 125px;
    margin-top: 10px;
    font-size: 18px;
}

.signup-bottom-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-top-text {
    font-size: 24px;
    font-weight: bold;
}